body {
  margin: 20px;
  background: url('../img/background.png') no-repeat center center fixed;
  background-size: cover;
}

h2 {
  margin-top: 0;
}

.card {
  /*float: left;*/
  /*border: solid 1px black;*/
  /*width: 120px;*/
  /*height: 167px;*/
  /*border-radius: 5px;*/
  margin: 5px;
  display: inline-block;
}

.covered {
  background-color: black;
}

.player-hand-container,
.dealer-hand-container {
  color: white;
  padding: 15px 15px 0 15px;
}
.top {
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.hand {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  /*overflow: inherit;*/
}
